In [2]:
import pandas as pd

In [4]:
path_1= "https://raw.githubusercontent.com/Mancini997/vanguard-ab-test/main/data/raw/df_final_web_data_pt_1.csv"
df_web_1 = pd.read_csv(path_1,sep=';')
path_2= "https://raw.githubusercontent.com/Mancini997/vanguard-ab-test/main/data/raw/df_final_web_data_pt_2.csv"
df_web_2 = pd.read_csv(path_2,sep=';')

path_3 = "https://raw.githubusercontent.com/Mancini997/vanguard-ab-test/main/data/raw/df_final_demo.csv"

df_final_demo = pd.read_csv(path_3, sep=';')

path_4 ='https://raw.githubusercontent.com/data-bootcamp-v4/lessons/main/5_6_eda_inf_stats_tableau/project/files_for_project/df_final_experiment_clients.txt'
final_experiment = pd.read_csv(path_4, sep=';')
pd.set_option('display.max_columns', None)

In [8]:
df_web_1.head(1)

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07

In [9]:
df_web_2.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58

In [10]:
#Merging the Web dataframe in we_df.
web_df =pd.concat([df_web_1, df_web_2], axis=0, join="inner")

In [11]:
#Checking null values
web_df.isnull().any()

client_id       False
visitor_id      False
visit_id        False
process_step    False
date_time       False
dtype: bool

In [12]:
#checking nan values
web_df.isna().sum().any()

False

In [13]:
#checking unique values
web_df['process_step'].unique()

array(['step_3', 'step_2', 'step_1', 'start', 'confirm'], dtype=object)

In [14]:
web_df.duplicated().sum()

10764

In [15]:
web_df.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
412259    False
412260    False
412261    False
412262    False
412263    False
Length: 755405, dtype: bool

In [19]:
web_df.shape

(755405, 5)

In [17]:
df_final_demo.head(10)

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0
5,3727881,5.0,71.0,30.5,U,2.0,23915.60,0.0,3.0
6,272934,5.0,66.0,58.5,U,2.0,27021.42,2.0,5.0
7,388801,30.0,361.0,57.5,M,5.0,522498.72,1.0,4.0
8,285619,30.0,369.0,67.5,M,2.0,299388.72,3.0,6.0
9,8198645,15.0,189.0,54.5,F,2.0,382303.83,6.0,9.0

In [20]:
df_final_demo.shape

(70609, 9)

In [7]:
final_experiment

      client_id,Variation
0            9988021,Test
1            8320017,Test
2         4033851,Control
3            1982004,Test
4         9294070,Control
...                   ...
70604          2443347,NA
70605          8788427,NA
70606           266828,NA
70607          1266421,NA
70608          9895983,NA

[70609 rows x 1 columns]